html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.clearfix:after {
    display: block;
    content: " ";
    clear: both;
}

header {
    height: 100vh;
}

section {
    display: block;
    margin: 0 auto;
    max-width: 1300px;
    padding-top: 120px;
}

/* TEKST */
h1 {
    text-align: center;
    font-size: 2em;
    margin: 40px 0px 20px;
}
h2 {
    font-size: 1.5em;
    margin: 30px 0px 20px;
}
p {
    line-height: 1.2em;
}
ul {
    list-style: disc;
    margin: 20px 0px;
}

.navigation {
    display: none;
}

.dropdown_menu {
    padding: 14.5px 0;
    margin-left: 1em;
    height: 50px;
    width: 50px;
    z-index: 600;
    position: absolute;
    right: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.dropdown_menu_line:last-child {
    margin-bottom: 0;
}

.dropdown_menu_line {
    height: 2px;
    width: 50px;
    background: black;
    margin-bottom: .5em;
    position: relative;
}


a.logo {
    float: left;
    color: white;
    background-image: url(../image/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 50px;
    margin: .3em .5em;
    text-decoration: none;
    text-indent: -999999px;
}

.nav {
    width: 100%;
    position: fixed;
    z-index: 3;
    background-color: white;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.mobile_navigation {
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 1em;
    margin: 0;
    top: 0;
    z-index: 500;
    width: 100%;
    height: 0;
}

.mobile_navigation a {
    color: #2AB34B;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: .4em 0;
    color: ;
    text-align: left;
    font-size: 2.75em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.mobile_navigation a:hover {
    transform: translateY(-5px);
}

.pricing-table {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.col {
    flex: 100%;
    padding: 10px;
    max-width: 260px;
    box-sizing: border-box;
}

.table {
    background-color: white;
    padding: 40px 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #00000070;
    min-height: 422px;
}

.table h2{
    text-transform: uppercase;
}

.table ul{
    margin: 0;
    padding: 0;
}

.table ul li{
    padding: 10px 0;
    list-style: none;
}

.price{
    font-size: 40px;
    margin-bottom: 20px;
}

.price span{
    display: block;
    font-size: 14px;
}

.table a{
    width: 200px;
    text-decoration: none;
    color: #2AB34B;
    border: 2px solid #2AB34B;
    display: block;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 40px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.5s linear;
    position: relative;
    position: absolute;
    bottom: 10px;
}

.table a:hover{
  background: #2AB34B;
  color: #fff;
}

footer p {
    font-size: 12px;
    text-align: center;
}

/* MEDIA QUERIES */
/* Tablet Media Query */
@media (min-width: 768px) {
    .dropdown_menu,
    .mobile_navigation {
        display: none;
    }

    .navigation {
        display: inherit;
        float: right;
        margin: 1em;
        margin-top: 50px;
        margin-right: 110px;
    }

    .navigation a {
        color: #2AB34B;
        text-decoration: none;
        padding: .75em 1.25em;
        font-weight: normal;
        box-sizing: border-box;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
    }

    .navigation a:hover {
        font-weight:400;
    }

    a.logo {
        float: left;
        margin: .3em 1em;
    } 
    
    .col{
        flex: 50%;
    }
}

@media (min-width: 980px) { 
    .col{
        flex: 20%;
    } 
    
    a.logo {
        margin-left: 110px;
        margin-top: 20px;
    }
}